#main{
    position:fixed;
    height:100vh;
}
#SidebarContainer{
    width: 280px;
    height:100%;
}
.mainContent{
    border: 1px solid red;
    margin-left: 280px;
    width: calc(100% - 280px);
    height: calc(100% - 3rem);
    position: fixed;
}
.fixed-card{
    position: fixed;
    width: 80%;
    height: 79%;
    overflow-y: auto;
}

